<div class="row">
  <div class="small-2 large-3 columns">&nbsp;</div>
  <div class="small-2 large-3 column"><input ng-model="query"></div>
  <div class="small-7 large-3 column">
    <select ng-model="orderProp">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>
  </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<div class="row">
  <div class="small-2 large-3 columns">Function Overview</div>
  <div class="small-10 large-9 columns">
    <ul>
      <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
        <a href="#/phones/{{phone.id}}"><img ng-src="{{phone.imageUrl}}"/></a>
        <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
  </div>
</div>
